*{
	padding:10px;
}
body {
    background-image: url("../images/ship.jpg");
    background-size:cover;
}
#start{
	margin-top: 50px;
	font-size: 40px;
	font-weight: bold;
	color: #808080;
	width: 40%;
	background-color: black;
	border: 5px solid #808080;
}
.page{
	width:80%;
	margin:0 auto;
}

#header{
	text-align: center;
	font-family:Bookman;
	font-size: 60px;
	padding-top: 30px;
	color: #a0522d;
	background-color:black;
	padding-bottom:50px;
	margin-bottom: 50px;
		}
#container{
	height: auto;
	background-color: grey;
	background: rgba(225, 225 ,225, 0.5);
	font-size: 40px;
	color: white;
}
.time{
	text-align: center;
	font-size: 40px;
	color: black;
	margin:20px 0 20px 0;
	border-bottom: 10px solid black;
}
.questions{
	text-align: center;
	font-size: 40px;
	background: black;
	border-radius: 20px;
	color: white;
}
.option{
	text-align: center;
	font-size: 40px;
	color: black;
	width:40%;
	display: inline-block;
	padding:10px 0 10px 15px;
	border: 5px solid black;
	margin: 20px 20px 20px 60px;
}
.option:hover{
	background-color: black;
	color: white;
}
