body {
    background-image: url("../images/ship.jpg");
    background-size:cover;
}

#header{
	font-family:Bookman;
	font-size: 60px;
	padding-top: 30px;
	color: #a0522d;
	background-color:black;
	padding-bottom:50px;
	margin-bottom: 100px;
		}

#start{
	margin-top: 50px;
	font-size: 40px;
	font-weight: bold;
	color: #808080;
	width: 40%;
	background-color: black;
	border: 5px solid #808080;
}

#content{
	font-size: 40px;
	color: white;
	margin:20px;
}